/.ipynb_checkpoints
/.vscode
/datalab
/ex.py
/lepszachmura.png
/maska.jpg
/maska_v1.jpg
/poezja
/project.ipynb
/project_code.py
/source.html
/stopwords.txt
/tekst.txt
/tekstniepaarzyste.txt
/test.json
/tutorial
/zad1_1.py
/zad1_2.py
/zad1_3.py
/zad2
/zad3.py
/zad4_1.py
/zad4_2.py
/__pycache__